/*
 * assets/css/reception.main.less
 *
 * Main LESS file for Cultures of Reception.
 * Compiles to reception.main.css for production use.
 */
/* VARIABLES */
/* Colors */
/* Fonts */
/* GENERAL STYLING RULES */
body {
  color: #2d2d2c;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12pt;
}
.home li {
  list-style-type: none;
}
.home li.contents-list-author {
  font-size: 16pt;
  font-variant: small-caps;
  display: inline;
  padding: 3px;
}
.home li.contents-list-author .contents-list-author-forename {
  font-size: 14pt;
  display: block;
}
.home li.contents-list-author a:focus rect {
  fill: #5e104a;
}
.home li a, .home li a:visited {
  fill: gold;
}
.home svg rect {
  fill: #3f002f;
}
.home svg:hover rect, .home svg:focus rect {
  fill: #5e104a;
}
