/*
 * assets/css/reception.main.less
 *
 * Main LESS file for Cultures of Reception.
 * Compiles to reception.main.css for production use.
 */
/* VARIABLES */
/* Colors */
/* Fonts */
/* GENERAL STYLING RULES */
body {
  color: #2d2d2c;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12pt;
}
.page-header {
  margin: 10px 0;
}
.page-header h1 {
  margin-top: 10px;
}
#sets-nav div.contents-list-author {
  font-size: 16pt;
  font-variant: small-caps;
  display: inline;
  padding: 3px;
}
#sets-nav div.contents-list-author .contents-list-author-forename {
  font-size: 14pt;
  display: block;
}
#sets-nav div.contents-list-author a:focus rect {
  fill: #5e104a;
}
#sets-nav div a,
#sets-nav div a:visited {
  fill: gold;
}
#sets-nav svg rect {
  fill: #3f002f;
}
#sets-nav svg:hover rect,
#sets-nav svg:focus rect {
  fill: #5e104a;
}
